<launch>
    <node pkg="sharps" name="sharps" type="sensors"/>
    <node pkg="movement" name="simpleMovement" type="simpleMovement"/>
    <node pkg="rosserial_python" name="motors" type="serial_node.py" args="/dev/ttyACM0"/>
    <node pkg="logic" name="control" type="logic"/>
    <node pkg="rgbdproc" name="vision" type="rgbdproc"/>
    <node pkg="robot_talk" name="chatter" type="robot_talk"/>
    <node pkg="recognition" name="evidence" type="objrecord"/>
    <node pkg="rosbag" type="record" name="evidence_bag" args="record -O G0_evidence_phase1.bag /contest_evidence"/>
</launch>
